

@{
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login </title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
</head>
<body>
    <div class="container p-3">
        <div class="bg-danger"></div>
    </div>
</body>
</html>